.todoMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid #353535;
}

.todoMainUserInfoHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0px;
    width: 90%;
    margin: auto;
}

.userProfile {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    border-radius: 8px;
}

.userProfileContainer .userProfile {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 8px;
}

.userProfile {
    cursor: pointer;
}

.userAccountOptions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.userAccountOptions .siteUpdatesIcons {
    margin-right: 25px;
    cursor: pointer;
}

.todoMainUserInfoHeader .logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
}

.todoMainUserInfoHeader .logoContainer h3 {
    font-weight: bold;
    text-decoration: line-through;
}

.userAccountOptions .signOut {
    padding: 9px 15px;
    border: none;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    * {
        background-color: #171a1f;
        color: #fff;
    }
    .userAccountOptions .signOut {
        background-color: #fff;
        color: #000;
        font-weight: 500;
    }
}